@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  #myDIV {
    position: fixed;
    top: 0;
    right: -200%;
    width: 80%;
    background: #207da4;
    z-index: 9999999999999999999999999999;
    height: 100vh;
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    overflow: auto;
  }
  #myDIV::after{
    content: '';
  }
  .open-nav-modal {
    right: 0 !important;
    opacity: 1 !important;
    visibility: visible !important;
    transition: 0.3s !important;
  }
  .navigation-bar ul li {
    text-align: left;
    margin-right: 0;
    width: 100%;
    margin-bottom: 6px;
  }
  #myDIV .drop-menu {
    background: #207da4;
    position: inherit;
    right: 0;
    top: 150%;
    width: 100%;
    z-index: 9;
    /* height: 100vh; */
    padding: 15px;
    text-align: left;
    left: 0;
    box-shadow: none;
    padding: 0;
    margin-top: 6px;
  }
  .profileheaderbtn {
    padding: 10px !important;
    box-shadow: 3px 3px 7px #08000061;
  }
  .profileheaderbtn button {
    box-shadow: none;
    padding: 0 !important;
    width: 100%;
  }
  .requer-form-box {
    padding: 40px 10px;
    margin-top: 40px;
  }
  .logo-box {
    background: white;
    position: absolute;
    height: 20vh;
    top: 0;
    /* padding: 15px; */
    padding: 0;
    width: 45%;
  }
  .logo-box h1 a {
    text-align: center;
  }
  header .logo img {
    width: 80%;
  }
  .navigation-bar nav {
    justify-content: flex-end;
  }

  .welcome {
    padding: 40px 25px;
    padding-right: 25px;
  }
  .why-us {
    margin-top: 40px;
    padding: 0 25px;
  }
  .short_links ul {
    grid-template-columns: 49% 49%;
    grid-row-gap: 9px;
  }
  .short_links ul li {
    box-shadow: 1px 1px 7px #0800002e;
    padding: 15px;
  }
  .short_links ul li p {
    width: 45%;
    margin-bottom: 15px;
  }
  .counter,
  .stay-touch,
  .fprd,
  .testimonial-wrap,
  .clients,
  .member-content,
  .page-content-sec,
  .mobile_short_links,
  footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .counter .row .col-md-4:nth-child(2) {
    margin: 40px 0;
  }
  .requer-form-box::after {
    display: none;
  }
  .floating-box {
    z-index: 1;
  }
  .owl-theme .owl-nav {
    display: none;
  }

  .heading h2 {
    margin-bottom: 25px;
  }
  .owl-item {
    padding: 0;
  }
  .banner-btn {
    border: 0;
    background: #4e4e4e;
    font-size: 14px;
    color: white;
    padding: 20px 18px;
    border-radius: 0;
    text-transform: uppercase;
    margin-top: 15px;
    line-height: 0;
  }
  .slide_container .item .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 28px;
    width: 95%;
    line-height: 31px;
    /* filter: drop-shadow(3px 3px 7px #08000061); */
    background: #0000007a;
    padding: 40px;
  }
  .footer-link {
    margin-top: 30px;
  }
  .footer-link:first-child {
    margin-top: 0;
  }
  .page-content-sec {
    padding-top: 0;
    padding-bottom: 0;
  }
  .cart-box li.cart {
    box-shadow: 3px 3px 7px #08000061;
    padding: 10px;
    border-radius: 50px;
    line-height: 0;
    margin-bottom: 0;
    margin-right: 8px;
  }
  .cart-box li:last-child.cart {
    margin-right: 0px;
  }
  select {
    background: transparent;
  }
  .side-modal-main-box {
    width: 100%;
  }
  .book-footer {
    padding: 0 10px;
  }
  .book-footer button {
    padding: 8px 20px;
  }
  /*online-store*/
  .online-store-banner-wrap {
    grid-template-columns: 100%;
    grid-template-rows: 66% 34%;
  }
  .online-store-banner-left {
    padding-right: 0;
    padding-bottom: 0px;
  }
  .online-store-banner-right {
    padding-left: 0;
    padding-top: 5px;
  }
  .products-specility-box div { 
    padding: 20px;
}
  .online-store-banner-right-up,
  .online-store-banner-right-down {
    height: 100%;
    width: 50%;
    float: left;
  }
  .online-store-banner-right-up {
    padding-bottom: 0;
    padding-right: 10px;
  }
  .online-store-banner-right-down {
    padding-top: 0;
    padding-left: 10px;
  }
  .online-store-banner-right-up > div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 5px;
    bottom: 0px;
}
.online-store-banner-right-down > div {
    position: absolute;
    top: 0px;
    left: 5px;
    right: 0px;
    bottom: 0px;
}
  .products-specility-box {
    padding: 40px 0;
    grid-template-columns: 100%;
    grid-column-gap: 0;
    grid-row-gap: 15px;
  }
  
  .online-category {
    padding: 40px 15px;
  }
  .specility-box {
    grid-template-columns: 100%;
    grid-column-gap: 0;
    grid-row-gap: 15px;
  }
  .specility-iamge-box img {
    height: 100px;
  }
  .product-item-details .box_img {
    height: auto;
    padding: 25px;
    margin-bottom: 0;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    float:left;
}
.detailtab li {
display: inline-block;
width: 45px;
}
.detailtab {
  text-align: center;
  white-space: nowrap;
  overflow: auto;
  padding: 0;
    margin-top: 15px;
}
.left-section {
  padding-left: 0;
  padding-right: 0;
  position: inherit;
  top: inherit;
  margin-top: 0;
}
.item-details {

  padding: 0;
  margin-top: 20px;
}
.check-delivery {
  width: 100%;
}
.banner-btn-box {
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 1;
}
.banner-btn-box button {
  background: white;
  color: var(--main-color) !important;
  padding: 10px 13px !important;
  border-radius: 50px;
  border: 0;
  font-size: 20px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
#filter-teacher {
  position: fixed;
  
  background: white;
  
  margin: 0;
  top: 0;
  left: -200%;
  height: 100vh;
  
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  overflow: auto;
  z-index: 9999999999;
    width: 70%;
}
.product-item-box
{
  grid-template-columns: 49% 49%;
}
.product-item-section
{
  padding: 0;
}
.product-main-box, .profile-box {
  padding: 40px 15px;
  position: relative;
}
.inner-banner h2 {
  margin-bottom: 0;
}
.product-item-box .item {
  padding: 7px;
}
.box_img {
  height: 106px;
}
.prd-box-fot {
  display: inherit;
  align-items: center;
  margin-top: 15px;
}
.prd-box-fot .quentity-frm {
  width: 100%;
  margin-right: 0;
  margin-bottom: 5px;
}
.prd-box-fot button {
  width: 100%;
}
.main-price {
  font-size: 14px;
  margin-right: 15px;
}
.product-name {

  font-size: 14px;
}
.tabcontent {
  height: 165px;
}
.prf-left-box, .prf-right-box
{
  padding: 0;
}
#profile-side
{
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100%;
  left: 0;
  width: 70%;
  padding: 40px 0;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
.profile-side-close
{
width: 9% !important;
}
.profile-side-close .prf-side-menu, .profile-side-close .teacherlisting-about-text-left
{
 display: none;
}
.profile-side-close .profile-box .prf-left-box .teacherlisting-pic {
  margin-right: 0;
  width: 100%;
}
.profile-side-close .prf-menu-box, .profile-side-close .prf-detail-box
{
  padding: 5px;
}
.profile-side-close .prf-menu-box ul li
{
  text-align: center;
}
.profile-side-close .teacherlisting-pic {
  text-align: left;
  margin-right: 0 !important;
  padding: 0;
  width: 100%;
}
.profile-side-close .prf-side-icon
{
    margin-right: 0px;
}
.prf-right-box
{
  width: 91%;
    margin-left: 9%;
}
.prf-side-btn
{
  position: absolute;
  top: 7px;
  right: 0;
  color: #442d2d;
  background: white;
  border: 0;
  padding: 2px 7px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.prf-menu-box
{
  box-shadow: none;
}
.pos
{
  position: sticky;
  top: 15vh;
  float: left;
}
.sort-by li {
  list-style: none;
  display: inline-block;
  margin-right: 0;
  cursor: pointer;
  width: 100%;
  margin: 6px 0;
  display: none;
  padding-left: 10px;
}
.sort-by button
{
  background: transparent;
    border: 0;
    /* margin-right: 15px; */
    color: #207da4;
    padding: 0 10px;
}
.checkout-items {

  padding: 0;
}
.total-checkout-items {

  padding: 0;
}
.chk-body
{
  padding: 40px 15px;
}
  /*online-store*/
  .item-details, .order-summery .order-list .item-details {

    width: 100%;
    float: left;
}
.item-pic, .order-summery .order-list .item-pic{
    width: 50%;
    float: left;
}
.chk-head-rt button {
  font-size: 14px;
  padding: 8px 21px;
}

}
@media only screen and (min-device-width: 1920px) and (max-device-width: 3000px) {
  .container {
    width: 1600px;
  }
  header .logo img {
    width: 192px;
  }
  .navigation-bar ul li {
    font-size: 24px;
  }
  .cart-box li.cart {
    box-shadow: 3px 3px 7px #08000061;
    padding: 15px;
    border-radius: 50px;
    line-height: 0;
  }
  .cart-box li.cart svg,
  .cart-box li.cart svg path,
  .cart-box li.cart svg g {
    height: auto;
    width: 24px;
    fill: #fff;
  }
  .cart-box li.cart sub {
    display: flex;
    position: absolute;
    top: -5px;
    right: -5px;
    background: #f89a27;
    bottom: initial;
    /* padding: 13px; */
    width: 26px;
    height: 26px;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 15px;
  }
  

}
